node_modules
client/node_modules
server/node_modules

# Keep environment variables out of version control
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
server/.env
client/.env

# Prisma
/server/prisma/generated
/server/prisma/query-engine-*
/server/prisma/migration-lock.toml

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
server/server_debug.log

# IDEs and editors
.idea/
.vscode/
*.swp
*.swo

# OS-specific
.DS_Store
Thumbs.db

# Misc
dist/
build/
.cache/
jwt_secret.tmp
